---
import { getLangFromUrl, useTranslations } from "@/utils/i18n";

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
---

<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Hovirix. {t("footer.copyright")}
  </p>
</footer>
